@import url("./bootstrap.min.css");

:root {
  --font-size: 1rem;
  --font-color: lch(53 105 40);
}

html {
    font-size: var(--font-size);
    color: var(--font-color);
}

.lang-menu {
  text-align: end;
}

p {
  font-size: 20px;
}

.social-item {
  display: flex;
  justify-content: center;
}

.social-item span {
  text-align: center;
}

.social-item img {
  display: block;
  margin-right: 10px;
  width: 32px;
  height: 32px;
}