@import url("./bootstrap.min.css");

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

span {
  font-weight: 600;
}

/* Header */
header {
  border-bottom: 2px solid #75b1c4;
}

.header-container {
  height: 100px;
}

.header-container  {
  display: flex;
  align-items: center;
}

.header-menu ul {
  display: flex;
  margin: 0;
}

/* Main */
main {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-me-heading {
  text-align: center;
}



main h2 {
  text-align: center;
}

.about-me-photo img {
  padding: 10px;
  background: #75b1c4;
  box-shadow: 0 0 8px 8px white inset;
}

hr {
  margin: 20px 0 20px 0;
}

.work-history-list li {
  list-style: disc;
}

/* Footer */

footer {
  padding-top: 20px;
  border-top: 2px solid #75b1c4;
}

